@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 128, 128, 128;
  --background-middle-rgb: 160, 160, 160;
  --background-end-rgb: 128, 128, 128;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 34, 34;
    --background-middle-rgb: 66, 66, 66;
    --background-end-rgb: 34, 34, 34;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
    rgb(var(--background-middle-rgb)),
    rgb(var(--background-middle-rgb)), 
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
